<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="comments">
<body>
<div th:if="${article}!=null">
    <div th:id="${article.cid ?: 0}" class="comment-container">
        <div id="comments" class="clearfix">
            <div th:if="${article.allowComment}">
                <span class="response">
                <th:block th:if="${session.login_user}">
                    Hi，<a th:href="${session.login_user.homeUrl}" data-no-instant=""
                          th:text="${session.login_user.username}"></a>
                    如果你想 <a href="/logout" title="注销" data-no-instant="">注销</a> ?
                </th:block>
            </span>
                <form method="post" id="comment-form" class="comment-form" role="form"
                      onsubmit="return TaleComment.subComment();">
                    <input type="hidden" name="coid" id="coid"/>
                    <input type="hidden" name="cid" id="cid" th:value="${article.cid}"/>
                    <input type="hidden" name="_csrf_token" th:value="${_csrf_token}"/>
                    <th:block th:if="${#strings.isEmpty(session.login_user)}">
                        <input type="text" name="author" maxlength="12" id="author"
                               class="form-control input-control clearfix"
                               required="required"
                               placeholder="姓名 (*)"
                        />
                        <input type="email" name="mail" id="mail" class="form-control input-control clearfix"
                               required="required"
                               placeholder="邮箱 (*)"
                        />
                        <input type="url" name="url" id="url" class="form-control input-control clearfix"
                               required="required"
                               placeholder="网址 (http://)"
                        />
                    </th:block>
                    <div id="editArea" contenteditable="true" name="content" class="form-control"
                         required="required" minlength="5"
                         maxlength="2000"></div>

                    <img id="btn" class="paperfly__img"
                         th:src="@{/user/plugins/Lan-emoji/dist/img/tieba/7.jpg}"/>
                    <div id="emoji"></div>
                    <button type="submit" class="submit" id="misubmit">提交</button>
                </form>
            </div>
            <div th:unless="${article.allowComment}">
                <span class="response">评论已关闭.</span>
            </div>
            <div th:if="${comments}">

                <p th:include="themes/default/commentsItem::row(${comments.list},1)"/>

                <div class="lists-navigator clearfix">
                    <ol class="page-navigator">
                        <th:block th:if="${comments.hasPreviousPage}">
                            <li class="prev"><a th:href="'?cp='+${comments.prePage}+'#comments'">←</a></li>
                        </th:block>
                        <th:block th:each="navIndex : ${comments.navigatepageNums}">
                            <li th:class="${comments.pageNum}==${navIndex}?'current':''"><a
                                    th:href="'?cp='+${navIndex}+'#comments'" th:text="${navIndex}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${comments.hasNextPage}">
                            <li class="next"><a th:href="'?cp='+${comments.nextPage}+'#comments'">→</a></li>
                        </th:block>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="comm/tale_comment::tale_comment"></div>
</html>